@import url('reset.css');
@import url('base.css');
@import url('header.css');

@import url('reset.css');
@import url('base.css');
@import url('header.css');

main {
    margin-top: 120px;
    padding: 0 20px 60px;
}

main>div {
    max-width: 900px;
    width: 85%;
    margin: 0 auto 60px;
    text-align: center;
}

main h2 {
    line-height: 1.5;
    margin-bottom: 40px;

}

main p {
    font-size: 1.1em;
    line-height: 1.5;
    hyphens: auto;
}

main section {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

main section iframe {
    border: 1px dashed rgba(255, 255, 255, 0.47);
    padding: 4px;
    border-radius: 2px;
    width: 100%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
    height: auto;
}

@media screen and (max-width: 768px) {
    main {
        margin-top: 100px;
    }

    main>div {
        width: 90%;
    }

    main h2 {
        font-size: 1.2em;
        margin-bottom: 30px;
    }

    main p {
        font-size: 1em;
        text-align: left;
    }

    main section {
        margin: 40px 0;
    }
}

@media screen and (max-width: 500px) {
    main {
        margin-top: 80px;
        padding: 0 15px 40px;
    }

    main>div {
        width: 95%;
    }

    main h2 {
        font-size: 1.1em;
        line-height: 1.6;
    }

    main p {
        font-size: 0.95em;
    }

    main section {
        padding: 0 10px;
        margin: 30px 0;
    }
}